@tailwind base;
@tailwind components;
@tailwind utilities;

tr {
    border-bottom: 1px solid #ddd;

  }
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
th,td{
    padding: 5px;
}  
.form{
  margin: 25px;
}
.modal{
  position: absolute;
    width: 75px;
    height: 75px;
    background: blue;
    top: 85%;
    left: 92.5%;
    border-radius: 50px;

}
.main{
  position: relative;
  display: block;
}
.modaltitle{
  font-size: 75px;
  margin-left: 0.65vw;
  margin-top: -2.25vh;
  color: white;
}

.ModalBox{
  position: absolute;
  position: absolute;
  width: 500px;
  height: 500px;
  background: whitesmoke;
  border-radius: 50px;
  border: 1px solid gray;
  margin-left: 37.5%;
  padding: 2%;
  padding-left: 6.25%;
}
.modalClose{
  position: absolute;
  width: 75px;
  height: 75px;
  background: blue;
  top: 0%;
  left: 0%;
  border-radius: 50px;
}